 <footer class="page-footer blue-grey darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s6">
        <h5 class="grey-text text-lighten-1">Footer Content</h5>
        <p class="grey-text text-lighten-1">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s4 offset-s2 center">
        <h5 class="grey-text text-lighten-1">Social</h5>
        
        <div class="row">
          <div class="col s2 m2 offset-s2 offset-m2"> 
            <a class="btn-floating btn-small waves-effect waves-light blue-grey darken-2"><i class="fab fa-facebook-f" style="color: #bdbdbd"></i></a>
          </div>
          <div class="col s2 m2"> 
            <a class="btn-floating btn-small waves-effect waves-light blue-grey darken-2"><i class="fab fa-google-plus-g" style="color: #bdbdbd"></i></a>
          </div>
          <div class="col s2 m2"> 
            <a class="btn-floating btn-small waves-effect waves-light blue-grey darken-2"><i class="fab fa-twitter" style="color: #bdbdbd"></i></a>
          </div>
          <div class="col s2 m2"> 
            <a class="btn-floating btn-small waves-effect waves-light blue-grey darken-2"><i class="fab fa-github" style="color: #bdbdbd"></i></a>
          </div>

        </div>
        
        
        
        
          
        
      </div>
    </div>
  </div>
  <div class="footer-copyright blue-grey darken-4">
    <div class="container grey-text text-lighten-1">
    © 2014 Copyright Text
    <a class="grey-text text-lighten-1 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
<script src="/static/js/app.js"></script>

<script src="/static/appLoginModal/js/placeholders.min.js"></script> <!-- polyfill for the HTML5 placeholder attribute appLoginModal-->
<script src="/static/appLoginModal/js/main.js"></script> <!-- Resource JavaScript appLoginModal-->