<title>App Chat</title>
<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/static/css/app.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<!-- cdn google fonts -->
<link href="https://fonts.googleapis.com/css?family=Allura|Crafty+Girls|Dancing+Script|Delius+Swash+Caps|Graduate|Indie+Flower|Life+Savers|Milonga|Parisienne|Rouge+Script|Sacramento|Schoolbell" rel="stylesheet">
<!-- cdn google fonts for apploginmodal -->
<link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="/static/appLoginModal/css/style.css"> <!-- Resource style appLoginModal-->
